[defaults]
roles_path = ./roles
collections_paths = ./collections
log_path = rh-ex457.log
inventory = inventories/lab

# vault_identity_list = dev@./.vault-dev, test@./.vault-test, acc@./.vault-acc, prod@./.vault-prod

callback_enabled = timer, profile_tasks, profile_roles
stdout_callback = yaml
force_color =1
nocows = 1
deprecation_warnings = True
